@font-face {
  font-family: "iconfont"; /* Project id 3937974 */
  src: url('iconfont.ttf?t=1682101085922') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-friends:before {
  content: "\e604";
}

.icon-add:before {
  content: "\e624";
}

.icon-topic:before {
  content: "\e60b";
}

.icon-share:before {
  content: "\e63d";
}

.icon-classify_1_line:before {
  content: "\e72c";
}

.icon-comment_2_line:before {
  content: "\e737";
}

.icon-edit_line:before {
  content: "\e741";
}

.icon-pic_line:before {
  content: "\e787";
}

.icon-thumb_down_line:before {
  content: "\e7bd";
}

.icon-thumb_up_line:before {
  content: "\e7be";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-discoverfill:before {
  content: "\e6ba";
}

.icon-homefill:before {
  content: "\e6bb";
}

.icon-my:before {
  content: "\e78b";
}

.icon-myfill:before {
  content: "\e78c";
}

.icon-discover:before {
  content: "\e67e";
}

